@import url("https://fonts.googleapis.com/css?family=Archivo+Black");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0px !important;
  padding: 0px;
  font-family: "Roboto";
  color: #424242;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  margin: 0px;
  padding: 0px;
}

code {
  font-family: Roboto;
}

input[type="button"],
h1,
h2,
h3,
label {
  font-family: "Archivo Black";
}
